@page "/"
@inject HttpClient HttpClient

<h1>Hello, world!</h1>
<button class="btn btn-primary" @onclick="GetPodcasts">Get Podcasts</button>

@if (_podcasts is not null)
{
    <h2>Podcasts</h2>
    <ul>
        @foreach (var podcast in _podcasts)
        {
            <li>@podcast</li>
        }
    </ul>
}

@code {
    private List<string>? _podcasts;

    private async void GetPodcasts(MouseEventArgs e)
    {
        // The URL is still localhost becuase the frontend is running in the browser 
        // the brower will call the API which is via localhost and not from inside the same or any container
        _podcasts = await HttpClient.GetFromJsonAsync<List<string>>("http://localhost:5102/podcasts");
    }
}